
<div class="row mt-5">
  <div class="col-md-6 m-auto">
  
      <h2>Entre ou Crie um conta</h2>
      <hr>
      <a href="/users/register" class="btn btn btn-info btn-block mb-2"
        >Cadastre-se</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>

